*{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  padding: 60px;
}

input{
  color: black;
  font-size: 1.2rem;
  width: 100%;
  border: 2px solid grey;
  background-color: rgb(137, 194, 137);
  border-radius: 50px;
  box-shadow: rgb(100, 29, 29);  
}

